</nav>
<style>
  /* Custom active link color for navbar */
  .navbar .nav-link.active {
    color: #f8b739 !important;
    font-weight: bold;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container-fluid px-3">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
    </button>

    <h6 class="m-0 ml-3 text-dark d-none d-md-block">Gym Membership System</h6>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <!-- Profile and Logout: visible only on md and up -->
        <li class="nav-item d-none d-md-block">
          <a class=" text-dark nav-link {% if request.endpoint == 'profile.profile' %}active{% endif %}" href="{{ url_for('profile.profile')}}">Profile</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link {% if request.endpoint == 'auth.logout' %}active{% endif %}" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
