<nav id="sidebar">
  <div class="p-4 pt-5">
   <a href="#" class="img logo rounded-circle mb-5"
     style="background-image: url('{{ url_for("static", filename="images/logo.jpg") }}');"></a>
    <ul class="list-unstyled components mb-5">
      {% if current_user.is_authenticated %}
        {% if current_user.role == 'admin' %}
        <!-- ADMIN SIDEBAR -->
      <li class="{{ 'active' if request.endpoint == 'admin.admin_dashboard' }}">
        <a href="{{ url_for('admin.admin_dashboard') }}">Home</a>
      </li>
      <li class="{{ 'active' if request.endpoint == 'admin.membership' }}">
        <a href="{{ url_for('admin.membership') }}">Membership</a>
      </li>
      <li class="{{ 'active' if request.endpoint and request.endpoint.startswith('admin.manage') }}">
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage</a>
        <ul class="collapse list-unstyled {{ 'show' if request.endpoint and request.endpoint.startswith('admin.manage') }}" id="pageSubmenu">
          <li class="{{ 'active' if request.endpoint == 'admin.manage_members' }}">
            <a href="{{ url_for('admin.manage_members') }}">Users </a>
          </li>
          <li class="{{ 'active' if request.endpoint == 'admin.manage_memberships' }}">
            <a href="{{ url_for('admin.manage_memberships') }}">Memberships</a>
          </li>
          <li class="{{ 'active' if request.endpoint == 'admin.manage_plans' }}">
            <a href="{{ url_for('admin.manage_plans') }}">Plans</a>
          </li>
          <li class="{{ 'active' if request.endpoint == 'admin.manage_renewal' }}">
            <a href="{{ url_for('admin.manage_renewal') }}">Renewal</a>
          </li>
        </ul>
      </li>
      {% elif current_user.role == 'member' %}
          <!-- MEMBER SIDEBAR -->
          <li class="{{ 'active' if request.endpoint == 'main.member_dashboard' }}">
            <a href="{{ url_for('member.member_dashboard') }}">Dashboard</a>
          </li>
          
        {% endif %}
      <li class="{{ 'active' if request.endpoint == 'main.about' }}">
        <a href="{{ url_for('main.about') }}">About</a>
      </li>
    </ul>
    {% else %}
        <!-- IF NOT LOGGED IN -->
        <li>
          <a href="{{ url_for('auth.login') }}">Login</a>
        </li>
        <li>
          <a href="{{ url_for('auth.register') }}">Register</a>
        </li>
      {% endif %}
    
  </div>
</nav>